<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/jquery.js"></script>
    <title>测试JSR-303</title>
</head>
<body>
    <a href="/login">去登陆</a>

<script>
    $.ajax({
        url: '/addUser',
        data:{
            name: 'lmc',
            password: '45',
            age: 10,
            birthday: '2999-03-01',
            money: 100.03,
            email: '1581510541'
        },
        type: 'post',
        success(res){
            console.log(res);
        }
    })
</script>
</body>
</html>